* {
    padding: 0;
    margin: 0;

}




body {
    background-color: #dbdd53;
}

navbar {
    display: flex;
    justify-content: space-around;
    margin-top: 35px;
    flex-wrap: wrap;
    background-color:#eaeb9a;
    
    
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

img {
    border-radius: 40px;
}

navbar div {
    margin: 10px;
    
}

h4 {
    text-align: center;
}


header img {
    min-width: 300px;
}

footer {
    margin: 0px 0;
    padding: 20px;
    background-color: #dbdd53;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer p {
    margin: 0px 10px;
    color: black;
    
}

a:visited {
    color: black;
}


.navbar-one {
    display: flex;
    
    list-style: none;
    justify-content: space-around;
}

.navbar-one li {
    padding: 20px;
    font-size: 20px;
    
    
}


.navbar-one li a {
    text-decoration: none;
    color: black;
    font-size: 20px;
    
   
}


.navbar-one li a:hover {
    color: purple;
}

.left {
    display: flex;
    margin: 10px;
    gap: 20px;
}

.nava {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:  #dbdd53;
    
    
}


.logo span {
    color: white;
}