* {
    padding: 0;
    margin: 0;

}




body {
    background-color: #dbdd53;
}

navbar {
    display: flex;
    justify-content: space-around;
    margin-top: 35px;
    flex-wrap: wrap;
    background-color:#eaeb9a;
    
    
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

img {
    border-radius: 40px;
}

navbar div {
    margin: 10px;
    
}

h4 {
    text-align: center;
}


header img {
    min-width: 300px;
}

footer {
    margin: 0px 0;
    padding: 20px;
    background-color: rgb(140, 230, 151);
    display: flex;
    justify-content: center;
    align-items: center;
}

footer p {
    margin: 0px 10px;
    color: black;
    
}

a:visited {
    color: black;
}